@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --discussion-background: #354531;
  --message-text: #ffffff;
  --message-timestamp: #a5a3a3;
  --font-family: 'Roboto', sans-serif;
  --font-size: 14px;
}

.discussion-box {
  width: 100%;
  padding: 20px;
  background: var(--discussion-background);
  position: relative;
}

.collapse {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
}

.messages {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.message-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

.avatar {
  background: grey;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.user-name {
  padding: 0 10px;
  color: var(--message-text);
  font-weight: bold;
}

.timestamp {
  color: var(--message-timestamp);
  font-weight: bold;
}

.message-text {
  color: var(--message-text);
  padding: 10px 50px;
}

.comment-box {
  display: flex;
  margin-top: 20px;
}

.comment-box input {
  width: 100%;
  margin-left: 45px;
  margin-right: 10px;
}

/* list */
.header-list-item {
  padding: 2px 30px;
  list-style-position: outside;
  list-style-type: circle;
}

.header-list-item a {
  color: inherit;
  font-size: var(--font-size);
}

.header-list-item:hover {
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
}

.header-list-item:last-child {
  padding: 2px 30px;
  list-style-position: outside;
  list-style-type: circle;
  margin-bottom: 10px;
}

.discussion-context {
  padding: 6px 0;
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
  margin-top: 1px;
}

.discussion-context-text {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: 100%;
  padding: 0 16px;
  padding-left: 40px;
  font-size: var(--font-size);
}

.discussion-context-text:hover {
  background: rgba(55, 53, 47, 0.08);
}
